 <!-- Discussion Section -->
    <section id="data">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Data</h2>
                    <hr class="doctor-primary">
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Our data source comes from Centers for Medicare and Medicaid Limited Data Set Files, which records medicare claims happened in all medical settings. The original data files we will derive our analytic dataset from, includes: Denominator File, Inpatient File, Outpatient Fil, Carrier File, Skilled Nursing Facility File, Hospice File, Home Health Agency File, and Durable Medical Equipment File. They cover all medical claims and associated costs for Medicare FFS beneficiaries.

                So let us explain what claims data is. Medical claims are generated when a patient visits a doctor. They include diagnosis codes, procedure codes, as well as costs. Claims data are electronically available, they are standardized and well-established codes. However, since humans generate them, they are 100% accurate. Also, claims for hospital visits can be vague. These limitations push us to work harder to find signals from noise. Or in other words, we want to find valuable information from chaos reality. This is what we do: Reality Mining!
                <br><br>

                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p>In creating analytic dataset for use, our objective is to model future costs with past medical history. We randomly select 20% sample of Massachusetts Medicare Fee-For-Service Beneficiaries who was fully-insured during 2012 and 2013 and who did not die. We use claims during 01/01/2012 to 12/31/2012 to create chronic disease indicators, diagnosis indicators, and procedures indicators, and we use claims during 01/01/2013 to 12/31/2013 to create binary indicator for top 10% high cost patients.</p>
                </div>
                <div class="col-lg-4 ">
                    <p> Our data prepare phase includes collecting claims associated with the same patients and aggregate information to patient-level. Our final analytic dataset includes:</p>
                    <ul class="list-inline item-details">
                        <li>70 Chronic Disease indicators, e.g. HCC (Hierarchical Condition Category)
                        </li>
                        <li>283 Diagnosis indicator, e.g. DXCCS (Diagnosis Clinical Classification Software)
                        </li>
                        <li>104 Procedure indicators, e.g. BETOS (Berenson-Eggers Type Of Service Codes</p>
                        </li>
                    </ul>
                               
                    
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Exploratory Data Analysis</h3> <br>
                </div>
                 <div class="col-lg-4 ">
                 <img class="img-responsive" src="img/age.png" alt="">
                </div>
                <div class="col-lg-4 ">
                <img class="img-responsive" src="img/gender.png" alt="">
                </div>
                <div class="col-lg-4 ">
                <img class="img-responsive" src="img/race.png" alt="">
                </div>
                 
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p>First, we look at demographic information: Age, Gender, and Race. These can be seen in the images above. Second, we look at the relationship between patients’ 2012 medical cost and 2013 medical cost. We anticipate the correlation is strong, because older people with weaker health tend to have chronically high need of medical care.</p> <br>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <img class="img-responsive" src="img/spendingyears.png" alt=""><br>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p>We could clearly see that, spending pattern is so consistent for Medicare beneficiaries, in the sense that, two subsequent years’ medical costs could nearly perfectly predict each other. However, we don’t know if it is true for general population. At least, it tells us that, for Medicare beneficiaries, typically older population >=65, if we know their past year’s medical cost, their next year’s cost is predictable with high confidence. And some people (red dots) are consistently high medical resource utilizers; while others (blue dots) are consistently 0 utilizers, they are healthy population; the rest falling in the middle are relatively healthy and would not drive the total healthcare cost up dramatically. The red dots are the population we care most about. They are the sicker population which have more chronic diseases which need long-term medical assistance.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Feature Selection</h3> <br>
                
                    <p>The dataset contains 70 chronic condition indicators (HCC), 283 Diagnosis Groups (DXCCS), 105 Procedure categories, which leads to 458 potential features. Technically, we need to reduce “the curse of dimensionality”; practically, if we build an algorithm that only works if we know all these information about a patient, it would be impossible to implement at clinical setting, and would also provide no insight into who will be high resource utilizers and what their characteristics are. Thus, the first task for us is to select features with high predictive power, and reduce the “curse of dimensionality”. The usual statistics Pearson’s correlation coefficient is a measure of linear relationship for continuous variables, thus inappropriate for our case. We’ll use “information gain” or “Entropy” as a measure of predictive power for individual feature.</p>
                    <img class="img-responsive" src="img/infogain.PNG" alt=""><br>
                    <p>Now, we rank individual clinical feature by “information gain” and visualize feature importance by mutual information. We have standardized mutual information as the ratio to the largest mutual information, therefore, the most important feature in terms of mutual information with high cost status has mutual information %=1. This feature selection helps us decide what features should be included in our predictive model. The results are below. </p>
                     <img class="img-responsive" src="img/inital_feature_selection.png" alt=""><br>
                </div>
            </div>
        </div>
    </section>