 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/DataScienceFinalProject/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/DataScienceFinalProject/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/DataScienceFinalProject/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/DataScienceFinalProject/js/classie.js" }}"></script>
    <script src="{{ "/DataScienceFinalProject/js/cbpAnimatedHeader.js" }}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{{ "/DataScienceFinalProject/js/freelancer.js" }}"></script>

  
   
